/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden; /* Clearfix */
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header img {
    height: 50px; /* Adjust based on your logo size */
    float: left;
    margin-left: 20px;
}

header nav {
    float: right
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

/* Main content styles */
body {
    margin-top: 80px; /* Adjust based on header height */
    padding: 20px 0;
}

#welcome {
    text-align: center;
    margin-bottom: 40px;
}
section img{
    width:80px;
    height:50px;
    border-radius:20px;
}

#welcome h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:850px;
    height: 2oopx;
    border-radius:15px;
    margin-top:40px;
    margin-left:120px;
}

#profile h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.timetable {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}
.timetable th, .timetable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.timetable th {
    background-color: #f2f2f2;
}
.timetable td {
    background-color: #fff;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}
